 <header class="airbnb-header">
        <!-- <div class="logo">airbnb</div> -->
        <a href="/" class="logo">airbnb</a>
        <section class="header-center-section">
            <nav class="nav-links">
            <a href="/">
                <video class="header-live-icon" autoplay loop muted playsinline>
                <source src="/assets/house-twirl-selected.webm" type="video/webm">
                Your browser does not support the video tag.
                </video>
                <span>Homes</span>
            </a>
            <a href="/favorite">
                <video class="header-live-icon" autoplay loop muted playsinline>
                    <source src="/assets/balloon-twirl.webm" type="video/webm">
                    Your browser does not support the video tag.
                </video>
                <span>Favorites</span>
            </a>
            <a href="/add-home">
                <video class="header-live-icon" autoplay loop muted playsinline>
                    <source src="/assets/consierge-twirl.webm" type="video/webm">
                Your browser does not support the video tag.
                </video>
                <span>Add Homes</span>
            </a>
            
        </nav>

        <div class="search-bar">
            <input type="text" placeholder="Where" />
            <input type="text" placeholder="Check in" />
            <input type="text" placeholder="Check out" />
            <input type="text" placeholder="Who" />
            <button class="search-btn">🔍</button>
        </div>
        </section>

        <% if (isLoggedIn) { %>
            
            
           
                    <div class="host-options">
                        <a href="#" class="header-be-host">Become a host</a>
                        <a href="#" class="menu-icon">🌐</a>
                        <div class="menu-icon">☰</div>
                    </div>
                    <div class="header-favorite-icon-container">
                        <a href="/edit-home" class="favorite-anchor-txt" title="Add to favorites">Edits</a>
                        <img src="/assets/favourite.png" alt="favorite-icon" srcset="" class="favorite-icon">
                    </div>

        <% } %>
        
        
        <% if (isLoggedIn) { %>

        

        <div class="logout login">
            <a href="/logout" class="logout login-btn">Logout</a>
        </div>


        <% } else {%>
        <div class="login">
            <a href="/login" class="login-btn">Login</a>
        </div>
        <% } %>

    </header>
