<%- include('partials/html-head') %>


<body>
    
    <div class="page-404-container">
        
        <h1 class="page-404-container-h1">404</h1>
        <h2 class="page-404-container-h2">Page not found</h2>
        <span><a class="page-404-container-home-link" href="/">Back to home</a></span>
    </div>
</body>

</head>
</html>