<%- include('../partials/html-head') %>

<body>
    <%- include('../partials/header') %>


    <section class="add-home-section">

        <div class="post-home-container">
            <h2>Home Add Successfully!</h2>
            <a  href="/">Back to Home</a>
        </div>

    </section>
    

    








</body>
</html>